model:
  input_layer:
    dataset: '/data/temporal/density/dataset.pt'
    pertubation: 'xor'
    encoding: binary_embedding
    n_inputs: 1
    bits_per_feature: 10
    redundancy: 1
    interleaving: 1
  output_layer:
    activation: 'sigmoid'
    n_outputs: 1
  reservoir_layer:
    init: 'zeros'
    k_avg: [1, 1.2, 1.4, 1.6, 1.8, 2.0, 2.2, 2.4, 2.6, 2.8, 3.0, 3.2, 3.4, 3.6] 
    k_max: [2, 4, 6, 10] 
    n_nodes: [10, 20, 30, 40, 50, 100, 200, 300, 400, 500, 600]
    p: 0.5
    reset: False
  training:
    batch_size: 100
    criterion: 'BCE'
    epochs: 100
    learning_rate: 0.001
    accuracy_threshold: 0.5
    evaluation: 'dev' 
logging:
  out_path: '/out/grid_search/temporal/density/initial_sweep'
  grid_search:
    seed: 0
    n_samples: 10