logging:
  out_path: 'out/path_integration/2D/grid_search/design_choices/prep3'
  grid_search:
    seed: 0
    n_samples: 1
  save_keys: null 
model:
  input_layer:
    w_bi: identity
    w_ir: identity 
    pertubation: override
    encoding: base2
    features: 2
    resolution: 7
    redundancy: [10, 15, 20]
    chunks: 2
    ticks: '2'
    interleaving: 0
  output_layer:
    n_outputs: 2
  reservoir_layer:
    init: [zeros, ones, random]
    k_avg: 2.0
    k_min: 0
    k_max: 10
    mode: [homogeneous, heterogeneous]
    n_nodes: [2000] # EXPLORE WITH KQ AND GR AND TRY THIS LATER
    p: 0.5
    reset: true
    self_loops: [0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1] # interesting number of attractors
  training:
    accuracy_threshold: 0.05
    batch_size: 1024
    criterion: MSE
    epochs: 40
    evaluation: dev
dataset:
  dimensions: 2
  steps: 5
  strategy:
    name: SimpleRandomWalkStrategy
    params:
      max_step_size: 0.3
  boundary:
    name: PolygonBoundary
    params:
      n_sides: 12
      radius: 1.0
      rotation: pi/4
  split:
    train: 0.5
    dev: 0.3
    test: 0.2
  samples: 20000
  seed: 0