logging:
  out_path: 'out/path_integration/2D/grid_search/design_choices/test_optim'
  grid_search:
    seed: 0
    n_samples: 1
  save_keys: [parameters]
model:
  input_layer:
    w_bi: identity
    w_ir: identity
    pertubation: override
    encoding: base2
    features: 2
    resolution: 8
    redundancy: 18
    chunks: [1, 2]  # TODO reduce this
    interleaving: [0, 1] # TODO reduce this
  output_layer:
    n_outputs: 2
  reservoir_layer:
    init: zeros
    k_avg: [4.0, 5.0, 6.0]
    k_min: 0
    k_max: 25 
    mode: homogeneous
    n_nodes: 3000 # EXPLORE WITH KQ AND GR AND TRY THIS LATER
    p: 0.5
    reset: true
    self_loops: 0 # interesting number of attractors
  training:
    accuracy_threshold: 0.05
    batch_size: [64, 128, 256, 512, 1024, 2048]
    criterion: MSE
    epochs: 40
    evaluation: dev
    optim:
      - name: adam
        params:
          lr: [1e-1, 1e-2, 1e-3]
          weight_decay: [0, 1e-1, 1e-2, 1e-3]
      - name: adamw
        params:
          lr: [1e-1, 1e-2, 1e-3]
      - name: sgd
        params:
          lr: [1e-1, 1e-2, 1e-3]
dataset:
  dimensions: 2
  steps: 5
  strategy:
    name: SimpleRandomWalkStrategy
    params:
      max_step_size: 0.3
  boundary:
    name: PolygonBoundary
    params:
      n_sides: 12
      radius: 1.0
      rotation: pi/4
  split:
    train: 0.5
    dev: 0.3
    test: 0.2
  samples: 20000
  seed: 0